/*.*
!.gitignore

/admin/*
!/admin/

/admin/controller/*
!/admin/controller/
/admin/controller/extension/*
!/admin/controller/extension/
/admin/controller/extension/module/*
!/admin/controller/extension/module/
!/admin/controller/extension/module/xdstickers.php

/admin/language/*
!/admin/language/

/admin/language/en-gb/*
!/admin/language/en-gb/
/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/
/admin/language/en-gb/extension/module/*
!/admin/language/en-gb/extension/module/
!/admin/language/en-gb/extension/module/xdstickers.php

/admin/language/ru-ru/*
!/admin/language/ru-ru/
/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/module/*
!/admin/language/ru-ru/extension/module/
!/admin/language/ru-ru/extension/module/xdstickers.php

/admin/model/*
!/admin/model/
/admin/model/extension/*
!/admin/model/extension/
/admin/model/extension/module/*
!/admin/model/extension/module/
!/admin/model/extension/module/xdstickers.php

/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
/admin/view/javascript/jquery/*
!/admin/view/javascript/jquery/
!/admin/view/javascript/jquery/colorpicker.js

/admin/view/stylesheet/*
!/admin/view/stylesheet/
/admin/view/stylesheet/css/*
!/admin/view/stylesheet/css/
!/admin/view/stylesheet/css/colorpicker.css
!/admin/view/stylesheet/css/xdstickers.css

!/admin/view/stylesheet/images/

/admin/view/template/*
!/admin/view/template/
/admin/view/template/extension/*
!/admin/view/template/extension/
/admin/view/template/extension/module/*
!/admin/view/template/extension/module/
!/admin/view/template/extension/module/xdstickers.twig

/catalog/*
!/catalog/
/catalog/view/*
!/catalog/view/
/catalog/view/theme/*
!/catalog/view/theme/
/catalog/view/theme/default/*
!/catalog/view/theme/default/
/catalog/view/theme/default/stylesheet/*
!/catalog/view/theme/default/stylesheet/
!/catalog/view/theme/default/stylesheet/xdstickers.css

/catalog/model/*
!/catalog/model/
/catalog/model/extension/*
!/catalog/model/extension/
/catalog/model/extension/module/*
!/catalog/model/extension/module/
!/catalog/model/extension/module/xdstickers.php

/image/

/install/

/system/*
!/system/
!/system/xdstickers.ocmod.xml